:root{
    --green:#5fcf80;
 --gray: #f6f7f6;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

.MentorProjectBody{
 overflow-x: hidden;
}

.container{
    padding: 0 7rem;
}

.navHero{
    background:linear-gradient(
        rgba(48, 48, 48, 0.1),
        rgba(48, 47, 47, 0.1)), url(./images/GIT\ hero-bg.jpg) fixed center center;
    background-size: cover;
    height: 80vh;
    background-color: rgba(37, 37, 37, 0.533);
    background-blend-mode: overlay;
}

/* NAVBAR STYLING STARTS HERE */
.nav-bar{
  height: 4rem;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 1;
}

.father{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.8rem;
}

.mentor{
  text-decoration-line: none;
  color: #5fcf80;
  font-weight: bolder;
  font-size: 1.6rem;
}


.a-tags{
  text-decoration-line: none;
  margin-left: 2rem;
  color: black;
  font-size: 16px;
  font-weight: 600;
  opacity: .7;
  transition: all .3s ease-in-out;
}

.a-tags:hover{
  color: #5fcf80;
}

/* #a-tags{
  color: #5fcf80;
  text-decoration-line: none; 
} */

.gaping{
 display: flex;
 align-items: center;
 cursor: pointer;
}

.button{
  background-color: #5fcf80;
  border: #5fcf80;
  color: white;
  border-radius: 3rem;
  padding: 11px 25px;
  transition: all .4s ease-in-out;
  font-size: 14px;
  font-weight: 600;
}

.button:hover {
  cursor: pointer;
  background-color: #48b96a;
  border: #38ad5b;
}

.button1{
  padding-left: 2rem;
}

.span-h{
  width: 25px;
  height: 5px;
  background-color: black;

}

.span-m{
  width: 25px;
  height: 5px;
  background-color: black;

}

.span-p{
  width: 25px;
  height: 5px;
  background-color: black;
}

.ham-gap{
  gap: 3px;
  display: flex;
  flex-direction: column;
  display: none;
}

.ham-gap span{
  border-radius: 20px;
  opacity: .8;
}




@media (max-width:1219px) {
  .ham-gap{
    gap: 3px;
    display: flex;
    flex-direction: column;
  }

  .gaping{
    padding-left: 20rem; 
    display: flex;
    align-items: center;
    display: none;

   }
}

/* NAVBAR STYLING ENDS HERE */


/* HERO STYLING STARTS HERE */
.Hero2{
  padding-top: 13rem; 
  }
  .Hero2 h1{
      font-size: 48px;
      font-weight: 700;
      /* line-height: 56px; */
      color: #fff;
      font-family: "Poppins", sans-serif;
  }
  
  .Hero2 h3{
      color: #eee;
      margin: 10px 0 0 0;
      font-size: 24px;
      font-weight: 300;
  }
  .Hero2 button:hover{
      background: var(--green);
      border: 2px solid var(--green);
  }
  .Hero2 button{
      position: relative;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 10px 35px;
      border-radius: 50px;
      transition: 0.5s;
      margin-top: 30px;
      border: 2px solid #fff;
      color: #fff;
      background: transparent;
      cursor: pointer;
      overflow: hidden;
      text-transform: uppercase;
  }

  @media screen and (max-width:990px) {
      .container{
    padding: 0 3rem;
}

.navHero{
    background:linear-gradient(
        rgba(48, 48, 48, 0.1),
        rgba(48, 47, 47, 0.1)), url(./images/GIT\ hero-bg.jpg) top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-color: rgba(37, 37, 37, 0.533);
    background-blend-mode: overlay;
}

.Hero2{
  padding-top: 17rem; 
  }

.Hero2 h1{
  font-size: 35px;
  }

.Hero2 h3{
  font-size: 18px;
  }
  
.Hero2 button{
  padding: 10px 10px;
  }
  }
  
/* HERO STYLING ENDS HERE */


/* ABOUT STYLING STARTS HERE */

.aboutsect{
  display: flex;
  justify-content: space-between; 
  gap: 40px;
  margin: 1rem 0rem 4rem 0rem;
}

.about{
font-size: 15.5px;
}

.about h3{
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 27px;
  opacity: .9;
}

.firstp{
  font-style: italic;
  margin-bottom: 20px;
  
}

 ul li{
  line-height: 1.5;
  margin-bottom: 20px;
  list-style-type: none;
  text-align: justify;
  opacity: .8;
}

.about p{
  margin-top: 30px;
  opacity: .8;
}

.about i{
  margin: 0 8px;
  color: var(--green);
}

.aboutimg{
  width:550px;
  margin-top: 60px; 
   
}


@media screen and (max-width:1000px) {
  .aboutsect{
  display: flex;
  flex-direction: column-reverse;
}

.about h3{
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 25px;
}

.aboutimg{
  width:100%;
  margin-top: 60px; 
   
}
}

/* ABOUT STYLING ENDS HERE */


/* COUNT SECTION STARTS HERE */
.mainWrapper{
    background-color:#f6f7f6; 
    padding: 33px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
    text-align: center;
}


.wrapper h1{
    color: #5fcf80;
    font-size: 45px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 0px;
}

.wrapper p{
    opacity: .9;
    font-size: 15px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width:990px) {
  .wrapper{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0rem 10rem;
    text-align: center;
}
}

@media screen and (max-width:650px) {
  .wrapper{
    margin: 0rem 0rem;
}
}

/* COUNT SECTION ENDS HERE */

/* CARDS SECTION STARTS HERE */

/* CARDS SECTION ENDS HERE */

/* BOXES SECTION STARTS HERE */

/* BOXES SECTION ENDS HERE */


/* DEVELOPER SECTION STARTS HERE */
.devDiv{
  display: grid;
  grid-template-columns: auto auto auto;
    gap: 20px;
    margin: 4rem 0rem;
}

.devDiv span img{
 width: 100%;
} 

.chima{
  height: 355px;
}
.nathan{
  height: 355px;
}

.oto{
  height: 355px;
 
}

.devDiv span{
  border: 1px solid rgba(128, 128, 128, 0.37);
  text-align: center;
  transition: all 0.3s ease-in-out;
  
} 

.devDiv span:hover{
 transform: translateY(10px);
}

.devText{
  padding: 0rem 1rem;
}

.devText h4{
  padding-top: 1rem;
}

.devText :nth-child(2){
  padding-bottom: 1rem;
    font-size: 11px;
    font-style: italic;
}

.devText :nth-child(3){
    font-style: italic;
    opacity: .7;
    font-size: 15px;
}

.iconBrand{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: .5rem 0rem;
} 

.iconBrand i{
  font-size: 20px;
  opacity: .5;
}
/* 
.devImgs{
    border: 2px solid blue;
    width: 50%;
} */

@media screen and (max-width: 1300px) {
.devDiv{
  display: grid;
  grid-template-columns: auto auto;
    gap: 20px;
    margin: 4rem 0rem;
}

.chima{
  height: 445px;
}

.nathan{
  height: 445px;
}

.oto{
  height: 445px;
}


}

@media screen and (max-width: 990px) {

.devDiv{
  display: grid;
  grid-template-columns: auto;
    gap: 20px;
    margin: 4rem 6rem;
}

.devDiv span:hover{
 transform: translateY(-10px);
}


}

@media screen and (max-width: 700px) {
.devDiv{
  display: grid;
  grid-template-columns: auto;
    gap: 20px;
    margin: 4rem 0rem;
}

}
/* DEVELOPER SECTION ENDS HERE */

/* FOOTER SECTION STARTS HERE */
.footer{
   background-color: rgb(238,240,239);
}

.mentorFooter {
 display: grid;
 grid-template-columns: auto auto;
 align-items: center;
 padding: 3rem 0rem;
}

.mentorFooter  p:first-child  {
  font-size: 14px;
  padding-bottom: 10px;
  opacity: .8;
}

.mentorFooter p {
  font-size: 12px;
  opacity: .8;
}

.mentorFooter p span{
 color: var(--green);
}

.mentorFooter .footerIcons{
 display: flex;
 justify-content: end;
 gap: 10px;
}

.mentorFooter .footerIcons i{
 font-size: 18px;
 /* border: 1px solid red; */
 color: #fff;
 background-color: var(--green);
 padding: 9px;
 border-radius: 50%;
}

@media screen and (max-width:700px) {
  .mentorFooter {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.copyrightDiv {
  text-align: center;
  padding-bottom: 20px;
}
}

/* FOOTER SECTION ENDS HERE */